* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5f7;
  opacity: 1;
  background-size: 12px 12px;
  background-image: repeating-linear-gradient(
    to right,
    #ffffff,
    #ffffff 0.6000000000000001px,
    #e5e5f7 0.6000000000000001px,
    #e5e5f7
  );
}

.container {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

input {
  font-size: 1.5rem;
  text-align: center;
  margin: 30px;
  width: 30rem;
  height: 3rem;
  background-color: none;
  border: 3px solid grey;
}

.poke-card {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.avatar {
  margin: 10px 10px 5px 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px black;
  border-radius: 3px;
  background-color: aliceblue;
}

.poke-box {
  margin: 10px;
  border-radius: 3px;
  opacity: 1;
}

.info-box {
  margin: 1px 10px 10px 10px;
  border: 2px solid rgba(70, 87, 100, 0.5);
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px -10px black;
  background-color: aliceblue;
}

.infos {
  display: flex;
  justify-content: space-between;
}

.id {
  text-align: center;
}

.load-btn {
  background-color: #ed1c24;
  color: aliceblue;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-top: 20px;
}
